@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Times';
  src: url('/fonts/times-italic.otf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Union';
  src: url('/fonts/Union-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  body {
    font-family: Union, Arial, sans-serif;
    @apply text-[18px] leading-[20px];
  }

  .union {
    font-family: Union, Arial, sans-serif;
    @apply text-[18px] leading-[20px];
  }

  .times {
    font-family: Times, 'Times New Roman', serif;
    @apply text-[19px] leading-[20px];
  }
}

h2 {
  @apply union uppercase font-bold md:font-normal text-2xl 2xl:text-[34px] 2xl:leading-[37px];
}

button {
  @apply block;
}

button.hover:hover {
  @apply transition-opacity opacity-70;
}

a {
  @apply underline times;
}

a:hover{
  @apply transition-opacity opacity-70
}

.collapse-full {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 300ms;
  margin: 0;
  padding: 0;
}

.collapse-summary {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}