@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Times';
  src: url('/fonts/times-italic.otf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Union';
  src: url('/fonts/Union-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  body {
    font-family: Union, Arial, sans-serif;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 22px;
  }

  .union {
    font-family: Union, Arial, sans-serif;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 22px;
  }

  .times {
    font-family: Times, 'Times New Roman', serif;
    letter-spacing: 0.03em;
    font-size: 21px;
    line-height: 22px;
  }
}

h2 {
  @apply union uppercase text-[34px] leading-[37px];
}

button {
  @apply block;
}

button:hover {
  @apply transition-opacity opacity-70;
}

a {
  @apply times;
}